<!DOCTYPE html>
  <head>
    <title>Tech Trends</title>
 <style type="text/css">
<!--
body {
	background-image: url(images/bg.png);
	
}
-->
 </style>
 <link href="css/style.css" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" type="text/css" href="css/style9.css" />
 <link rel="stylesheet" type="text/css" href="css/demo.css" />    
 <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet'type='text/css' />
        
 </head>
  
<body>
<!--facebook share button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--tweet button-->
<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!--start container -->
<div id="container">
<header>
    <nav>   
      <div id="logo"><a href="#"><img style="height:100px;width:100%;" src="images/tech_trends.jpg" alt="Logo here" /></a>
      </div>
      
<div id="nav_social">
<!--<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/"  data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>-->

<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>

</div>
<!--<a href="#"><img src="images/facebook_32.png" alt="Become a fan" width="32" height="32" /></a><a href="#"><img src="images/twitter_32.png" alt="Follows on Twitter" /></a><a href="#"><img src="images/linkedin_32.png" alt="Linked in" /></a><a href="#"><img src="images/email_32.png" alt="Contact" width="32" height="32" /></a>-->  </div>
  </nav>
  
    </header>
<br/><br/>
<div class="content">

          <ul class="ca-menu">
                    <li>
                        <a href="#">
                            <span class="ca-icon">Programmers</span>
<h2 class="ca-main">Programmers</h2>

<h3 class="ca-sub" align="center">
<a href="#" >Overview</a>
<a href="#">Questions</a>
<a href="#">Answers</a>
<a href="#">Users</a>  
 </h3>                           
                        </a> 

                 </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">DBAs</span>
                            
                                <h3 class="ca-sub">
<a href="#" >Overview</a><a href="#">Questions</a>
<a href="#">Answers</a>
<a href="#">Users</a>  
</h3>
                            
                        </a>                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">Stack Exchange</span>
                            
                                
                                <h3 class="ca-sub"><a href="#" >Overview</a><a href="#">Questions</a>
<a href="#">Answers</a>
<a href="#">Users</a>  </h3>
                            
                        </a>                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">Web Application</span>
                            
                                
                                <h3 class="ca-sub"><a href="#" >Overview</a><a href="#">Questions</a>
<a href="#">Answers</a>
<a href="#">Users</a>  </h3>
                            
                        </a>                    </li>
 <li>
                        <a href="#">
                            <span class="ca-icon">Android Enthusiasts</span>
                            
                               
                                <h3 class="ca-sub">
<a href="#" >Overview</a><a href="#">Questions</a>
<a href="#">Answers</a>
<a href="#">Users</a>  
</h3>
                            
                        </a>                    </li>

                </ul>
  <!--star main --> 

     <br/><br/>
    <main style="padding-top:20px";>  
<div class="section_slogan"><img src="images/quote-right.png" alt="images" /><span class="cursive"> Track your skill statistics with help of graphs!! </span><img src="images/quote-left.png" alt="images" /></div>  
      <div class="abox">
      <figure>
      <fcapion>
     <h1></h1>
      </fcaption><a href="#"></a><a href="#"><img src="images/graph1.jpg" alt="I love graphic" width="289" height="175" /></a></figure>
      </div>
    <div class="abox">
      <figure>
      <fcapion>
      <h1></h1>
      </fcaption>
      <a href="#"><img src="images/graph2.jpg" alt="I love graphic" width="287" height="176" /></a>      </figure>
    </div>
    <div class="abox">
      <figure>
      <fcapion>
     <h1></h1>
      </fcaption><a href="#"></a><a href="#"><img src="images/graph3.jpg" alt="I love graphic" width="289" height="178" /></a></figure>
      </div>   
    </main>
    <!--end main -->
    <!--start middle -->
    <middle>    
      <div class="enter">
<P align="left"></P>
        <div class="imgteaser">
<a href="#"><!--<img src="images/p1.png" alt="Todo el Todo" width="413" height="220" />--><span class="desc">
	<strong>TODO 2011 - Lorem Ipsum quntum</strong>
		Blandit turpis patria euismod at iaceo appellatio, demoveo esse.</span></a></div><!--<div class="btn"> <a href="#">Read More...</a></div>-->
      </div>	
     
   <!-- <div class="middle_box"><h1><img src="images/fav.png" width="16" height="16" /> <a href="#">Resources</a></h1>
      <ol>
        <img src="images/dialog-ok.png" width="16" height="16" /> Lorem Ipsum quntum</ol>
      <ol>
        <img src="images/dialog-ok.png" width="16" height="16" /> Lorem ipsum dolor sit amet</ol>
      <ol>
        <img src="images/dialog-ok.png" width="16" height="16" /> Integer vehicula laoreet purus ac tincidunt</ol>
     <ol> <img src="images/dialog-ok.png" width="16" height="16" /> distinctly portfolio suite grande architectural five-star.</ol>
      </div>
      <div class="middle_box"><h1><img src="images/fav.png" width="16" height="16" /> <a href="#">Blogs</a></h1>
        <p><img src="images/dialog-ok.png" width="16" height="16" /> Recent Post</p>
        <ol>
        <img src="images/dialog-ok.png" width="16" height="16" /> Lorem Ipsum quntum
        </ol>
      <ol>
        <img src="images/dialog-ok.png" width="16" height="16" /> Lorem ipsum dolor sit amet
      </ol>
      <ol> <img src="images/dialog-ok.png" width="16" height="16" /> distinctly portfolio suite grande architectural five-star.</ol>
      </div>
      <div class="middle_box">
        <h1><img src="images/fav.png" width="16" height="16" /> <a href="#">Design </a></h1>
        <img src="images/dialog-ok.png" width="16" height="16" /> Lorem Ipsum quntum</ol>
      <ol>
        <img src="images/dialog-ok.png" width="16" height="16" /> Lorem ipsum dolor sit amet</ol>
      <ol>
        <img src="images/dialog-ok.png" width="16" height="16" /> Integer vehicula laoreet purus ac tincidunt</ol>
     <ol> <img src="images/dialog-ok.png" width="16" height="16" /> distinctly portfolio suite grande architectural five-star.</ol>
      </div>-->
    </middle>
</div>
<!--end middle -->
<!--start footer -->
<footer>  
  <div id="footer">
 <!-- <div id="footerleft">
      <h2>Imediacreatives</h2>
      <ul>
        <li><a href="http://www.imediacreatives.it">Css3 Kitesurf</a></li>
        <li><a href="..."> Layout Design Gardenfolio</a></li>
        <li><a href="..."> BlueBand</a></li>
      </ul>
    </div>
    <div id="footermiddle">
      <h2>User Comments</h2>
      <ul>
        <li><a href="...">SWF XLM Sldeshow</a></li>
        <li><a href="http://www.imediacreatives.it">Michelangelo</a></li>
        <li><a href="...">Another Templates Principato</a></li>
      </ul>
    </div>
    <div id="footerright">
      <h2>Design & Project</h2>
      <ul>
        <li><a href="http://www.imediacreatives.it">CSS3 Design</a></li>
        <li><a href="http://www.imediacreatives.it">Psd to CSS </a></li>
        <li><a href="http://www.imediacreatives.it">Psd to Html5</a></li>
      </ul>
    </div>
    <details>
<summary>
<p><a href="http://www.imediacreatives.it" target="_blank">Imediacreatives.it</a>
  Copyright &copy; yoursite.com -2011.</p></summary><p></p>
</details>
    </div>-->
</footer>
<!--end footer -->
</div>
<!--end container -->
<!-- Free template distributed by http://freehtml5templates.com -->
  </body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</html>
